<!-- Cloudflare Web Analytics -->
<script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "7f39569c4d1142d889fed944d15ba08b"}'></script>
<!-- End Cloudflare Web Analytics -->
<button class="back-to-top" aria-label="Back to top">↑</button>
<script defer src="{{ root }}vendor/aos.js" integrity="n1AULnKdMJlK1oQCLNDL9qZsDgXtH6jRYFCpBtWFc+a9Yve0KSoMn575rk755NJZ"></script>
<script defer src="{{ root }}script.js" integrity="fUW4hLPTm4KzfGoLduQPF9ilM+FXBn/FzoPHj8rDiwGf/Q6BCH0DOfl8FKzHoHjJ"></script>
<script defer src="{{ root }}quote-estimator.js"></script>
